@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
.aboutmepic{
    max-width:50%;
}

body {
    background: #1a1918;
    font-family: "Baloo Tamma 2", cursive;
}

.bg-grey {
    background-color: #a5b6c7;
}


body {
    margin: 0;
    font-family: "Baloo Tamma 2", cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f8f9fa;